*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.container{
    padding: 276px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: radial-gradient(rgba(30, 102, 7, 1), rgba(30, 102, 7, 0.2));
    background-size: 300% 300%;
    animation: degrade-animacao 5s infinite alternate;
}
@keyframes degrade-animacao {
    0%{background-position: 0%;}
    100%{background-position: 100%}

}      
label{
   font-size: 200%;

}
input{
    font-size: 150%;
}
small{
    font-size: larger;
}
#texto{
    text-align: center;
    font-size: 250%;
}